.content_container {
  padding: 5px;
  margin-bottom: 80px;
}

.songs_list_skeleton {
  margin-bottom: 1px;
}

.songs_list_skeleton_search {
  margin-left: 15px;
}

.header_skeleton {
  height: 56px;
  padding: 5px;
  display: flex;
}

.song_card_multiple_accordion {
  margin: 1px;
}

.song_card_title_header {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.song_card_content_split {
  column-count: 2;
}

.search {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.07);
  border: 0;
}

.general_search {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.07);
  min-width: 300px;
  border: 0;
}

.search:hover,
.general_search:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.search_input {
  border: none !important;
}

.search_icon {
  margin-top: 0 !important;
}

.general_header {
  display: flex;
  align-items: center;
  height: 60px;
}

.header_title {
  width: 100%;
}

.header_logo {
  margin-left: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.general_header_title {
  margin-left: 5px;
}

.general_header_user_menu_logged_user {
  justify-content: center;
}

.general_header_user_menu_sing_in {
  text-align: center;
}

.general_header_user_menu_sing_in_text {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.fab_buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.html_content {
  font-family: Arial;
}

.playlists_skeleton {
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.playlist_entry_toggle_delete_button {
  visibility: hidden;
}

.playlist_entry_drag_drop {
  background-color: rgba(255, 255, 255, 0.08);
  min-height: 210px;
}

.playlist_entry_drag_drop_item,
.playlist_entry_drag_item {
  background-color: rgba(29, 52, 255, 0.3);
}

.playlist_entry_toggle:hover {
  background-color: rgba(29, 52, 255, 0.08);
}

.playlist_entry_toggle:hover .playlist_entry_toggle_delete_button {
  visibility: visible;
}

.playlist_entry_toggle {
  border: 1px solid #2A2A2A;
  border-radius: 2px;
  cursor: move;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.playlist_pick_songs {
  max-height: 492px;
  overflow-y: auto;
}

.playlist_songs_title {
  margin-top: 5px;
  margin-bottom: 7px;
}

.swiper_slide {
  min-height: 100vh;
}

.song_card_actions_decrease_font_size_icon {
  margin-top: 3px;
}

.text_align_right {
  text-align: right;
}

.confirm_buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 5px;
}

.avatar_small_font {
  font-size: 1rem;
}

.rich_text_editor_skeleton {
  position: absolute; 
  z-index: 1;
  width: 99%;
  max-width: 1192px;
}

.button_label_wrapper {
  text-align: start;
  line-height: 12px;
  margin-top: 5px;
}

.button_caption_text {
  font-size: 8.5px;
}

.drawer_menu {
  margin-bottom: 60px;
  width: 200px;
}

.drawer_menu_logo {
  text-align: center;
  margin-top: 20px;
}

.drawer_menu_title {
  text-align: center;
}

.drawer_menu_user {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  column-gap: 10px;
  color: #D3D3D3;
  background-color: #353535;
}

.song_observation_footer {
  margin-top: 10px;
  border-top: 1px solid #2A2A2A;
}

.margin_right_10px {
  margin-right: 10px;
}

.margin_top_10px {
  margin-top: 10px;
}

.margin_bottom_10px {
  margin-bottom: 10px;
}

.band_details_row {
  display: flex;
}

.band_details_invitation_name {
  color: #00BFFF;
  font-weight: bold;
  margin-right: 5px;
}

.home_page_wrapper {
  max-width: 1920px;
  min-height: 1280px;
  margin: auto;
  background-image: url("/guitar_player_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.home_page_main_text {
  font-size: 5vw;
  font-family: 'Brush Script MT', cursive;
}

.home_page_footer {
  text-align: center;
}