.content_container {
  padding: 5px;
  margin-bottom: 80px;
}

.songs_list_skeleton {
  margin-bottom: 5px;
}

.songs_list_skeleton_search {
  margin-left: 15px;
}

.header_skeleton {
  height: 56px;
  padding: 5px;
  display: flex;
}

.song_card_header {
  display: flex;
}

.song_card_title_header {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.edit_song_link {
  text-decoration: inherit;
  color: inherit;
}

.edit_song_link:hover {
  opacity: 0.8;
}

.search {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
  min-width: 300px;
  border: 0;
}

.search:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.search_input {
  border: none;
}

.search_icon {
  margin-top: 0 !important;
}

.icon_button {
  position: absolute;
  right: 0;
  top: 12px;
}

.songs_header {
  margin: 5px;
  display: flex;
  align-items: center;
}

.header_title {
  width: 100%;
}

.header_logo {
  margin-left: 5px;
  width: 100%;
}

.fab_buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  float: right;
}

.ms_rich_text_editor {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: gray solid 1px;
}

.ms_rich_text_editor:hover {
  border-color: #FFF;
}

.html_content {
  white-space: pre;
}