.ms-accordion {
  box-shadow: none;
  margin-bottom: 3px;
  background-image: none;
}

.single-no-title-entry .MuiAccordionSummary-content .song-card-title-header {
  padding-left: 1px;
}

.ms-accordion {
  background-color: rgb(255, 255, 255, 0.05);
  margin: 0;
}

.ms-accordion.single-no-title-entry {
  margin: 1px;
}

.ms-accordion:hover {
  background-color: rgb(255, 255, 255, 0.07);
}

.ms-accordion-title {
  opacity: 0.9;
}

.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded .ms-accordion-title {
  opacity: 0.5;
}

.ms-accordion.Mui-expanded {
  margin: 0;
}

.playlist_accordion {
  background-color: transparent;
}

.song_card_header {
  display: flex;
  background-color: rgb(255, 255, 255, 0.05);
}

.playlist_accordion .ms-accordion,
.playlist_accordion .song_card_header {
  background-color: rgb(255, 255, 255, 0.02);
}

.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin: 3px;
}

.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root {
  min-height: 30px;
  padding: 0;
}

div.MuiButtonBase-root.MuiAccordionSummary-root {
  padding-left: 5px;
  padding-right: 5px;
}

div.MuiAccordionDetails-root {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
}

.ms-accordion.MuiAccordion-root:before {
  opacity: 0;
}

body div.MuiContainer-root {
  padding: 3px;
}

body div.MuiCardContent-root:last-child,
body div.MuiCardContent-root {
  padding: 0;
}