* {
  scrollbar-width: thin;
  scrollbar-color: #2A2A2A #000;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000;
  border: 1px solid #2A2A2A;
}

*::-webkit-scrollbar-thumb {
  background-color: #2A2A2A;
}

div.ms-accordion {
  box-shadow: none;
  margin-bottom: 3px;
  background-image: none;
  background-color: rgb(255, 255, 255, 0.05);
  margin: 0;
}

.single-no-title-entry .MuiAccordionSummary-content .song-card-title-header {
  padding-left: 1px;
}

div.ms-accordion.single-no-title-entry {
  margin: 1px;
}

div.ms-accordion:hover {
  background-color: rgb(255, 255, 255, 0.07);
}

.ms-accordion-title {
  opacity: 0.9;
}

div.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded .ms-accordion-title {
  opacity: 0.5;
}

div.ms-accordion.Mui-expanded {
  margin: 0;
}

div.playlist_accordion {
  background-color: transparent;
}

.song_card_header {
  display: flex;
  background-color: rgb(255, 255, 255, 0.05);
}

div.playlist_accordion .ms-accordion,
div.playlist_accordion .song_card_header {
  background-color: rgb(255, 255, 255, 0.02);
}

div.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin: 3px;
}

div.ms-accordion .MuiButtonBase-root.MuiAccordionSummary-root {
  min-height: 30px;
  padding: 0;
}

button.MuiButtonBase-root.MuiFab-root {
  text-transform: none;
}

div.MuiButtonBase-root.MuiAccordionSummary-root {
  padding-left: 5px;
  padding-right: 5px;
}

div.MuiAccordionDetails-root {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
}

div.MuiAccordionDetails-root.band_details {
  padding: 5px;
}

div.ms-accordion.MuiAccordion-root:before {
  opacity: 0;
}

body div.MuiContainer-root {
  padding: 3px;
}

body div.MuiCardContent-root:last-child,
body div.MuiCardContent-root {
  padding: 0;
}

.tox div.tox-toolbar__primary {
  background-color: #E5E5E5;
}

.default_half_bottom_margin {
  margin-bottom: 5px;
}

.song_entry_rich_text_editor_wrapper,
.song_entry_rich_text_editor_wrapper .tox-tinymce {
  min-height: 400px;
}

.song_entry_form_wrapper_highlighted .default_half_bottom_margin,
.song_entry_form_wrapper_highlighted .song_entry_rich_text_editor_wrapper {
  opacity: .5;
}

body div.default_bottom_margin {
  margin-bottom: 10px;
}

div.swiper-button-prev,
div.swiper-button-next {
  position: fixed;
}

div.swiper-button-disabled {
  display: none;
}

.MuiDialogContent-root.band_details_dialog_content {
  padding-top: 10px;
}

button.user_main_menu {
  margin-right: 10px;
  margin-left: 10px;
}